<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 .social-links {
    list-style: none; /* Remove default list styling */
    padding: 0;      /* Remove default padding */
    display: flex;   /* Display items in a row */
    gap: 15px;       /* Space between icons */
    margin: 10px 0;  /* Margin around the social links */
}

.social-links li {
    display: inline; /* Ensure items are inline */
}

.social-icon {
    width: 24px;    /* Set a specific width for the icons */
    height: 24px;   /* Set a specific height for the icons */
    vertical-align: middle; /* Align icons vertically with text */
}


{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>


  <body>
    <div class="wrapper">
      <header>
  <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

  {% if site.logo %}
    <img src="{{ site.logo | relative_url }}" alt="Logo" />
  {% endif %}

  <p>{{ site.description | default: site.github.project_tagline }}</p>

  <ul class="social-links">
    <li>
      <a href="https://github.com/Savenast" target="_blank" rel="noopener noreferrer">
        <img src="/path/to/github-icon.svg" alt="GitHub Icon" class="social-icon" /> GitHub
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/julián-salvatierra-653a04175" target="_blank" rel="noopener noreferrer">
        <img src="/first-portfolio/assets/icons/linkedin.png" alt="LinkedIn Icon" class="social-icon" /> LinkedIn
      </a>
    </li>
    <li>
      <a href="https://twitter.com/Savenast" target="_blank" rel="noopener noreferrer">
        <img src="/first-portfolio/assets/icons/github.png" alt="Twitter Icon" class="social-icon" /> Twitter
      </a>
    </li>
  </ul>

  {% if site.github.is_project_page %}
    <p class="view">
      <a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a>
    </p>
  {% endif %}
</header>

<section>
  {{ content }}
</section>

<footer>
  {% if site.github.is_project_page %}
    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
  {% endif %}
</footer>




    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
